In [215]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
'imports complete'

'imports complete'

<h1>AN INTRO TO THE PANDAS LIBRARY</h1>
Source: Mostly pandas documentation (https://pandas.pydata.org/)

<h2>Data Frames and Series</h2>

In order to perform analysis, we will need to begin by importing data. This can be done in a couple ways depending on the format of your data. In our example, we are using csv and will consequently choose "read_csv" as our function. By doing this, we have read in our csv file as a <b>data frame</b> (which can be thought of as a similar to a table from DSCI 101 and 102).

In [216]:
df = pd.read_csv("framingham.csv") # read in csv file as data frame

Note: pandas also supports importing data of other types, too. These can be read about here: https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

We can view parts of our data frame with head (see beginning) and tail (to see the end)

In [217]:
df.head() # view beginning of data set

   AGE  SYSBP  DIABP  TOTCHOL  CURSMOKE  DIABETES  GLUCOSE  DEATH  ANYCHD
0   39  106.0   70.0    195.0         0         0     77.0      0       1
1   46  121.0   81.0    250.0         0         0     76.0      0       0
2   48  127.5   80.0    245.0         1         0     70.0      0       0
3   61  150.0   95.0    225.0         1         0    103.0      1       0
4   46  130.0   84.0    285.0         1         0     85.0      0       0

We can get very useful info about our data right away!

In [218]:
df.describe()

,AGE,SYSBP,DIABP,TOTCHOL,CURSMOKE,DIABETES,GLUCOSE,DEATH,ANYCHD
count,3842.000000,3842.000000,3842.000000,3842.000000,3842.000000,3842.000000,3842.000000,3842.000000,3842.000000
mean,49.632483,132.468636,82.947553,236.977095,0.490630,0.027330,81.943779,0.335242,0.248308
std,8.594499,22.141929,11.969269,44.772060,0.499977,0.163063,23.969704,0.472136,0.432088
min,32.000000,83.500000,48.000000,107.000000,0.000000,0.000000,40.000000,0.000000,0.000000
25%,42.000000,117.000000,75.000000,206.000000,0.000000,0.000000,71.000000,0.000000,0.000000
50%,49.000000,128.000000,82.000000,234.000000,0.000000,0.000000,78.000000,0.000000,0.000000
75%,56.000000,144.000000,90.000000,264.000000,1.000000,0.000000,87.000000,1.000000,0.000000
max,70.000000,295.000000,142.500000,696.000000,1.000000,1.000000,394.000000,1.000000,1.000000

We can <b>sort</b> it by column, too

In [219]:
df.sort_values('AGE', ascending=1).head(1) # youngest participant

      AGE  SYSBP  DIABP  TOTCHOL  CURSMOKE  DIABETES  GLUCOSE  DEATH  ANYCHD
2138   32  111.0   70.0    242.0         1         0     88.0      0       0

In [220]:
df.sort_values('AGE', ascending=0).head(1) # oldest participant

      AGE  SYSBP  DIABP  TOTCHOL  CURSMOKE  DIABETES  GLUCOSE  DEATH  ANYCHD
1481   70  143.0   93.0    107.0         0         0     62.0      1       0

In [221]:
df.sort_values(['AGE', 'TOTCHOL']).head(6) # sort by age then by TOTCHOL

      AGE  SYSBP  DIABP  TOTCHOL  CURSMOKE  DIABETES  GLUCOSE  DEATH  ANYCHD
2138   32  111.0   70.0    242.0         1         0     88.0      0       0
1197   33  108.0   67.0    158.0         0         0     69.0      0       0
1233   33  141.5   95.0    165.0         0         0     77.0      0       0
2766   33  136.0   75.0    165.0         0         0     90.0      0       0
398    33  116.0   81.0    199.0         1         0     93.0      0       0
1900   33  119.0   74.0    200.0         1         0     74.0      0       0

In [222]:
df.sort_values(['AGE', 'TOTCHOL'], ascending=[1,0]).head(6)  # major sort is ascending and minor sort is descending

      AGE  SYSBP  DIABP  TOTCHOL  CURSMOKE  DIABETES  GLUCOSE  DEATH  ANYCHD
2138   32  111.0   70.0    242.0         1         0     88.0      0       0
1900   33  119.0   74.0    200.0         1         0     74.0      0       0
398    33  116.0   81.0    199.0         1         0     93.0      0       0
1233   33  141.5   95.0    165.0         0         0     77.0      0       0
2766   33  136.0   75.0    165.0         0         0     90.0      0       0
1197   33  108.0   67.0    158.0         0         0     69.0      0       0

To view data from specific <b>columns</b> or <b>rows</b>, there are a few operations we can perform. First, lets look at accessing columns of data.

In [223]:
df.columns # get column headers

Index(['AGE', 'SYSBP', 'DIABP', 'TOTCHOL', 'CURSMOKE', 'DIABETES', 'GLUCOSE',
       'DEATH', 'ANYCHD'],
      dtype='object')

In [224]:
df['AGE'] # access a particular column

0       39
1       46
2       48
3       61
4       46
        ..
3837    51
3838    48
3839    52
3840    40
3841    39
Name: AGE, Length: 3842, dtype: int64

By accessing a particular column, we are returned a pandas <b>series</b>. A series is a one-dimensional ndarray with axis labels.

In [225]:
type(df['AGE']) # notice this is of type series

pandas.core.series.Series

By including a list of labels, we are specifying multiple columns to include

In [226]:
df[['AGE', 'DEATH']] # access particular column(s)

      AGE  DEATH
0      39      0
1      46      0
2      48      0
3      61      1
4      46      0
...   ...    ...
3837   51      1
3838   48      1
3839   52      0
3840   40      0
3841   39      0

[3842 rows x 2 columns]

Doing so returns a data frame object.

In [227]:
type(df[['AGE', 'DEATH']]) # notice this is of type dataframe

pandas.core.frame.DataFrame

In [228]:
df[['AGE', 'SYSBP']] # get columns (sort of similar to dictionary reference to keys)

      AGE  SYSBP
0      39  106.0
1      46  121.0
2      48  127.5
3      61  150.0
4      46  130.0
...   ...    ...
3837   51  126.5
3838   48  131.0
3839   52  133.5
3840   40  141.0
3841   39  133.0

[3842 rows x 2 columns]

In [229]:
df.iloc[[0,1]] # get rows

   AGE  SYSBP  DIABP  TOTCHOL  CURSMOKE  DIABETES  GLUCOSE  DEATH  ANYCHD
0   39  106.0   70.0    195.0         0         0     77.0      0       1
1   46  121.0   81.0    250.0         0         0     76.0      0       0

In [230]:
df.iloc[[0,1], [0,1]] # get columns and rows (arg1 = columns and arg2 = rows)

   AGE  SYSBP
0   39  106.0
1   46  121.0

In [231]:
df.loc[[0,1], ['AGE', 'SYSBP']] # iloc is by index whereas loc is by label

   AGE  SYSBP
0   39  106.0
1   46  121.0

In [232]:
df.loc[0:5, ['AGE', 'SYSBP']] # slicing is possible too! although note that 5 is INCLUSIVE unlike regular slicing in python

   AGE  SYSBP
0   39  106.0
1   46  121.0
2   48  127.5
3   61  150.0
4   46  130.0
5   43  180.0

In [233]:
df.loc[0:5, 'AGE':'DIABETES'] # its also possible to slice labels!

   AGE  SYSBP  DIABP  TOTCHOL  CURSMOKE  DIABETES
0   39  106.0   70.0    195.0         0         0
1   46  121.0   81.0    250.0         0         0
2   48  127.5   80.0    245.0         1         0
3   61  150.0   95.0    225.0         1         0
4   46  130.0   84.0    285.0         1         0
5   43  180.0  110.0    228.0         0         0

In [234]:
df.loc[df['AGE']==46] # only where age is 46

      AGE  SYSBP  DIABP  TOTCHOL  CURSMOKE  DIABETES  GLUCOSE  DEATH  ANYCHD
1      46  121.0   81.0    250.0         0         0     76.0      0       0
4      46  130.0   84.0    285.0         1         0     85.0      0       0
12     46  142.0   94.0    294.0         1         0     64.0      0       0
16     46  112.0   78.0    291.0         1         0     89.0      1       0
43     46  119.0   77.5    261.0         1         0     74.0      0       0
...   ...    ...    ...      ...       ...       ...      ...    ...     ...
3704   46  125.0   80.0    229.0         0         0     80.0      0       0
3717   46  176.0   98.0    282.0         1         0     78.0      0       0
3744   46  134.0   96.0    247.0         1         0     72.0      0       0
3802   46  116.0   80.0    222.0         0         0     87.0      0       1
3811   46  136.0   77.0    213.0         0         0     73.0      0       0

[169 rows x 9 columns]

Its easy to count the values of a series:

In [235]:
count1 = df['DIABETES'].value_counts() # how many people have/don't have diabetes?
count1

0    3737
1     105
Name: DIABETES, dtype: int64

In [236]:
count2 = df[['DIABETES', 'DEATH']].value_counts()
count2

DIABETES  DEATH
0         0        2529
          1        1208
1         1          80
          0          25
dtype: int64

In [237]:
for index, row in df.iterrows():  # itterate through rows
    print(index, row['AGE'])  # print age

0 39.0
1 46.0
2 48.0
3 61.0
4 46.0
5 43.0
6 63.0
7 45.0
8 52.0
9 43.0
10 50.0
11 43.0
12 46.0
13 41.0
14 38.0
15 48.0
16 46.0
17 38.0
18 41.0
19 42.0
20 52.0
21 52.0
22 44.0
23 47.0
24 35.0
25 61.0
26 60.0
27 36.0
28 43.0
29 59.0
30 61.0
31 54.0
32 37.0
33 56.0
34 52.0
35 42.0
36 36.0
37 43.0
38 41.0
39 54.0
40 53.0
41 49.0
42 65.0
43 46.0
44 63.0
45 36.0
46 63.0
47 51.0
48 47.0
49 62.0
50 46.0
51 54.0
52 49.0
53 44.0
54 40.0
55 56.0
56 67.0
57 53.0
58 57.0
59 57.0
60 63.0
61 62.0
62 38.0
63 47.0
64 52.0
65 42.0
66 37.0
67 41.0
68 44.0
69 59.0
70 44.0
71 44.0
72 45.0
73 41.0
74 60.0
75 39.0
76 53.0
77 52.0
78 61.0
79 36.0
80 62.0
81 61.0
82 41.0
83 41.0
84 53.0
85 39.0
86 51.0
87 66.0
88 60.0
89 65.0
90 63.0
91 40.0
92 56.0
93 56.0
94 47.0
95 60.0
96 45.0
97 48.0
98 42.0
99 63.0
100 42.0
101 40.0
102 66.0
103 49.0
104 67.0
105 48.0
106 64.0
107 50.0
108 60.0
109 37.0
110 36.0
111 50.0
112 39.0
113 46.0
114 66.0
115 46.0
116 55.0
117 41.0
118 44.0
119 38.0
120 43.0
121 41.0
122 53.0
123 59.0
124 56.0
125 50.0
126 46.0
127 43.0
128 61.0
129 41.0
130 49.0
131 55.0
132 43.0
133 40.0
134 57.0
135 56.0
136 48.0
137 59.0
138 47.0
139 64.0
140 54.0
141 64.0
142 61.0
143 61.0
144 66.0
145 39.0
146 58.0
147 49.0
148 49.0
149 46.0
150 36.0
151 41.0
152 47.0
153 57.0
154 50.0
155 62.0
156 39.0
157 37.0
158 48.0
159 46.0
160 52.0
161 38.0
162 50.0
163 39.0
164 55.0
165 62.0
166 60.0
167 61.0
168 39.0
169 42.0
170 37.0
171 42.0
172 36.0
173 53.0
174 67.0
175 52.0
176 45.0
177 56.0
178 42.0
179 55.0
180 38.0
181 56.0
182 61.0
183 45.0
184 42.0
185 49.0
186 48.0
187 55.0
188 58.0
189 60.0
190 38.0
191 53.0
192 52.0
193 37.0
194 42.0
195 64.0
196 56.0
197 67.0
198 43.0
199 45.0
200 66.0
201 34.0
202 52.0
203 49.0
204 57.0
205 48.0
206 36.0
207 38.0
208 60.0
209 40.0
210 43.0
211 53.0
212 54.0
213 56.0
214 50.0
215 46.0
216 53.0
217 59.0
218 48.0
219 48.0
220 54.0
221 36.0
222 59.0
223 55.0
224 55.0
225 40.0
226 65.0
227 65.0
228 45.0
229 40.0
230 63.0
231 46.0
232 55.0
233 60.0
234 58.0
235 39.0
236 61.0
237 51.0
238 60.0
239 36.0
240 39.0
241 42.0
242 60.0
243 52.0
244 47.0
245 46.0
246 57.0
247 45.0
248 45.0
249 55.0
250 41.0
251 50.0
252 54.0
253 57.0
254 62.0
255 46.0
256 53.0
257 52.0
258 67.0
259 42.0
260 51.0
261 60.0
262 39.0
263 68.0
264 54.0
265 38.0
266 39.0
267 36.0
268 36.0
269 44.0
270 48.0
271 54.0
272 45.0
273 41.0
274 34.0
275 41.0
276 62.0
277 38.0
278 55.0
279 46.0
280 36.0
281 52.0
282 49.0
283 39.0
284 47.0
285 62.0
286 39.0
287 45.0
288 39.0
289 63.0
290 41.0
291 44.0
292 37.0
293 44.0
294 49.0
295 53.0
296 51.0
297 43.0
298 60.0
299 39.0
300 56.0
301 59.0
302 43.0
303 48.0
304 61.0
305 55.0
306 39.0
307 42.0
308 51.0
309 54.0
310 64.0
311 58.0
312 42.0
313 41.0
314 63.0
315 53.0
316 41.0
317 53.0
318 59.0
319 45.0
320 49.0
321 41.0
322 39.0
323 50.0
324 53.0
325 54.0
326 40.0
327 51.0
328 40.0
329 38.0
330 48.0
331 46.0
332 59.0
333 37.0
334 40.0
335 59.0
336 46.0
337 67.0
338 40.0
339 55.0
340 52.0
341 42.0
342 54.0
343 58.0
344 45.0
345 67.0
346 68.0
347 61.0
348 55.0
349 42.0
350 39.0
351 40.0
352 39.0
353 63.0
354 55.0
355 39.0
356 39.0
357 51.0
358 54.0
359 48.0
360 51.0
361 65.0
362 65.0
363 39.0
364 47.0
365 59.0
366 66.0
367 56.0
368 41.0
369 41.0
370 41.0
371 45.0
372 37.0
373 43.0
374 41.0
375 44.0
376 36.0
377 60.0
378 46.0
379 55.0
380 61.0
381 45.0
382 45.0
383 52.0
384 46.0
385 44.0
386 42.0
387 58.0
388 38.0
389 64.0
390 40.0
391 57.0
392 48.0
393 40.0
394 43.0
395 45.0
396 36.0
397 63.0
398 33.0
399 56.0
400 43.0
401 60.0
402 44.0
403 61.0
404 61.0
405 46.0
406 48.0
407 55.0
408 50.0
409 46.0
410 47.0
411 44.0
412 55.0
413 47.0
414 48.0
415 40.0
416 35.0
417 49.0
418 38.0
419 50.0
420 38.0
421 57.0
422 44.0
423 47.0
424 56.0
425 61.0
426 38.0
427 56.0
428 46.0
429 53.0
430 49.0
431 46.0
432 37.0
433 50.0
434 51.0
435 64.0
436 44.0
437 37.0
438 62.0
439 54.0
440 39.0
441 44.0
442 51.0
443 63.0
444 46.0
445 40.0
446 56.0
447 44.0
448 51.0
449 45.0
450 56.0
451 40.0
452 52.0
453 64.0
454 38.0
455 50.0
456 41.0
457 57.0
458 51.0
459 50.0
460 46.0
461 53.0
462 65.0
463 58.0
464 56.0
465 46.0
466 64.0
467 43.0
468 35.0
469 59.0
470 50.0
471 62.0
472 53.0
473 52.0
474 57.0
475 46.0
476 49.0
477 47.0
478 65.0
479 41.0
480 61.0
481 41.0
482 53.0
483 36.0
484 43.0
485 37.0
486 62.0
487 64.0
488 40.0
489 49.0
490 46.0
491 47.0
492 38.0
493 39.0
494 43.0
495 43.0
496 50.0
497 48.0
498 45.0
499 55.0
500 53.0
501 50.0
502 40.0
503 50.0
504 56.0
505 44.0
506 37.0
507 42.0
508 54.0
509 39.0
510 42.0
511 55.0
512 60.0
513 34.0
514 44.0
515 49.0
516 50.0
517 47.0
518 63.0
519 39.0
520 43.0
521 41.0
522 59.0
523 51.0
524 62.0
525 51.0
526 46.0
527 37.0
528 60.0
529 52.0
530 40.0
531 52.0
532 45.0
533 60.0
534 39.0
535 46.0
536 40.0
537 44.0
538 38.0
539 60.0
540 42.0
541 44.0
542 47.0
543 55.0
544 48.0
545 61.0
546 62.0
547 64.0
548 46.0
549 54.0
550 42.0
551 55.0
552 35.0
553 40.0
554 44.0
555 52.0
556 63.0
557 39.0
558 51.0
559 59.0
560 51.0
561 67.0
562 47.0
563 64.0
564 50.0
565 63.0
566 39.0
567 38.0
568 42.0
569 38.0
570 52.0
571 60.0
572 41.0
573 41.0
574 56.0
575 38.0
576 63.0
577 42.0
578 40.0
579 51.0
580 60.0
581 40.0
582 34.0
583 40.0
584 54.0
585 36.0
586 38.0
587 37.0
588 39.0
589 60.0
590 58.0
591 56.0
592 50.0
593 57.0
594 41.0
595 40.0
596 51.0
597 43.0
598 36.0
599 64.0
600 50.0
601 49.0
602 59.0
603 62.0
604 56.0
605 57.0
606 48.0
607 38.0
608 49.0
609 65.0
610 42.0
611 45.0
612 38.0
613 48.0
614 58.0
615 60.0
616 55.0
617 54.0
618 45.0
619 64.0
620 49.0
621 45.0
622 48.0
623 45.0
624 57.0
625 64.0
626 50.0
627 58.0
628 40.0
629 38.0
630 54.0
631 39.0
632 46.0
633 60.0
634 62.0
635 60.0
636 40.0
637 54.0
638 47.0
639 58.0
640 51.0
641 47.0
642 35.0
643 44.0
644 50.0
645 57.0
646 39.0
647 41.0
648 45.0
649 49.0
650 38.0
651 59.0
652 38.0
653 39.0
654 59.0
655 64.0
656 51.0
657 57.0
658 40.0
659 62.0
660 53.0
661 37.0
662 48.0
663 40.0
664 51.0
665 48.0
666 64.0
667 44.0
668 64.0
669 41.0
670 48.0
671 49.0
672 39.0
673 61.0
674 58.0
675 52.0
676 48.0
677 45.0
678 66.0
679 44.0
680 60.0
681 42.0
682 42.0
683 67.0
684 63.0
685 62.0
686 50.0
687 63.0
688 41.0
689 53.0
690 53.0
691 42.0
692 47.0
693 58.0
694 45.0
695 50.0
696 55.0
697 67.0
698 56.0
699 37.0
700 38.0
701 63.0
702 40.0
703 45.0
704 54.0
705 67.0
706 39.0
707 46.0
708 35.0
709 48.0
710 47.0
711 43.0
712 52.0
713 45.0
714 42.0
715 56.0
716 63.0
717 52.0
718 46.0
719 49.0
720 44.0
721 42.0
722 64.0
723 59.0
724 59.0
725 54.0
726 57.0
727 53.0
728 35.0
729 46.0
730 40.0
731 47.0
732 49.0
733 58.0
734 54.0
735 47.0
736 60.0
737 53.0
738 66.0
739 36.0
740 37.0
741 49.0
742 44.0
743 41.0
744 43.0
745 37.0
746 55.0
747 36.0
748 37.0
749 47.0
750 50.0
751 68.0
752 44.0
753 42.0
754 50.0
755 53.0
756 57.0
757 47.0
758 49.0
759 58.0
760 55.0
761 59.0
762 55.0
763 43.0
764 46.0
765 43.0
766 46.0
767 49.0
768 42.0
769 61.0
770 36.0
771 39.0
772 48.0
773 39.0
774 59.0
775 48.0
776 44.0
777 42.0
778 44.0
779 52.0
780 60.0
781 35.0
782 40.0
783 64.0
784 53.0
785 59.0
786 55.0
787 58.0
788 56.0
789 40.0
790 42.0
791 48.0
792 65.0
793 52.0
794 39.0
795 55.0
796 64.0
797 51.0
798 49.0
799 53.0
800 47.0
801 52.0
802 50.0
803 58.0
804 64.0
805 37.0
806 57.0
807 64.0
808 66.0
809 35.0
810 38.0
811 39.0
812 42.0
813 45.0
814 57.0
815 62.0
816 58.0
817 51.0
818 59.0
819 44.0
820 60.0
821 54.0
822 53.0
823 43.0
824 64.0
825 61.0
826 39.0
827 35.0
828 66.0
829 53.0
830 40.0
831 46.0
832 47.0
833 49.0
834 42.0
835 60.0
836 56.0
837 39.0
838 62.0
839 45.0
840 61.0
841 55.0
842 58.0
843 53.0
844 37.0
845 36.0
846 60.0
847 53.0
848 62.0
849 59.0
850 43.0
851 47.0
852 53.0
853 47.0
854 48.0
855 48.0
856 43.0
857 47.0
858 43.0
859 56.0
860 34.0
861 47.0
862 66.0
863 39.0
864 58.0
865 57.0
866 63.0
867 53.0
868 38.0
869 57.0
870 49.0
871 47.0
872 36.0
873 42.0
874 39.0
875 52.0
876 64.0
877 61.0
878 54.0
879 61.0
880 52.0
881 38.0
882 37.0
883 52.0
884 50.0
885 60.0
886 39.0
887 57.0
888 64.0
889 55.0
890 45.0
891 67.0
892 40.0
893 48.0
894 53.0
895 50.0
896 47.0
897 42.0
898 53.0
899 39.0
900 39.0
901 64.0
902 61.0
903 46.0
904 49.0
905 55.0
906 57.0
907 41.0
908 46.0
909 60.0
910 64.0
911 43.0
912 50.0
913 38.0
914 56.0
915 53.0
916 51.0
917 42.0
918 58.0
919 54.0
920 53.0
921 58.0
922 60.0
923 62.0
924 59.0
925 53.0
926 35.0
927 50.0
928 36.0
929 57.0
930 34.0
931 46.0
932 42.0
933 63.0
934 46.0
935 45.0
936 60.0
937 45.0
938 44.0
939 39.0
940 42.0
941 62.0
942 48.0
943 55.0
944 45.0
945 58.0
946 56.0
947 55.0
948 57.0
949 65.0
950 61.0
951 49.0
952 42.0
953 50.0
954 42.0
955 46.0
956 53.0
957 44.0
958 54.0
959 58.0
960 67.0
961 44.0
962 41.0
963 52.0
964 40.0
965 55.0
966 41.0
967 40.0
968 41.0
969 48.0
970 52.0
971 53.0
972 52.0
973 45.0
974 65.0
975 42.0
976 48.0
977 45.0
978 56.0
979 58.0
980 54.0
981 56.0
982 67.0
983 55.0
984 59.0
985 49.0
986 54.0
987 45.0
988 55.0
989 46.0
990 40.0
991 44.0
992 40.0
993 37.0
994 47.0
995 47.0
996 43.0
997 53.0
998 51.0
999 52.0
1000 52.0
1001 50.0
1002 37.0
1003 50.0
1004 43.0
1005 60.0
1006 57.0
1007 53.0
1008 42.0
1009 61.0
1010 40.0
1011 59.0
1012 52.0
1013 63.0
1014 66.0
1015 53.0
1016 39.0
1017 58.0
1018 56.0
1019 54.0
1020 64.0
1021 44.0
1022 46.0
1023 40.0
1024 42.0
1025 63.0
1026 47.0
1027 61.0
1028 52.0
1029 51.0
1030 64.0
1031 64.0
1032 40.0
1033 44.0
1034 45.0
1035 59.0
1036 44.0
1037 50.0
1038 56.0
1039 63.0
1040 57.0
1041 64.0
1042 57.0
1043 55.0
1044 55.0
1045 41.0
1046 46.0
1047 38.0
1048 56.0
1049 67.0
1050 45.0
1051 64.0
1052 50.0
1053 41.0
1054 46.0
1055 60.0
1056 41.0
1057 61.0
1058 68.0
1059 45.0
1060 52.0
1061 56.0
1062 53.0
1063 51.0
1064 47.0
1065 67.0
1066 49.0
1067 36.0
1068 62.0
1069 36.0
1070 55.0
1071 45.0
1072 44.0
1073 47.0
1074 38.0
1075 57.0
1076 64.0
1077 46.0
1078 49.0
1079 50.0
1080 63.0
1081 48.0
1082 60.0
1083 41.0
1084 64.0
1085 62.0
1086 62.0
1087 66.0
1088 59.0
1089 36.0
1090 40.0
1091 53.0

1092 49.0
1093 64.0
1094 46.0
1095 58.0
1096 66.0
1097 41.0
1098 40.0
1099 42.0
1100 52.0
1101 49.0
1102 52.0
1103 46.0
1104 40.0
1105 35.0
1106 42.0
1107 58.0
1108 43.0
1109 44.0
1110 38.0
1111 39.0
1112 41.0
1113 40.0
1114 38.0
1115 57.0
1116 41.0
1117 42.0
1118 58.0
1119 42.0
1120 47.0
1121 59.0
1122 55.0
1123 68.0
1124 61.0
1125 36.0
1126 41.0
1127 45.0
1128 51.0
1129 45.0
1130 35.0
1131 49.0
1132 50.0
1133 40.0
1134 43.0
1135 49.0
1136 47.0
1137 58.0
1138 38.0
1139 50.0
1140 47.0
1141 60.0
1142 45.0
1143 58.0
1144 63.0
1145 43.0
1146 52.0
1147 47.0
1148 46.0
1149 49.0
1150 36.0
1151 58.0
1152 58.0
1153 46.0
1154 61.0
1155 59.0
1156 40.0
1157 54.0
1158 56.0
1159 45.0
1160 51.0
1161 59.0
1162 40.0
1163 53.0
1164 64.0
1165 48.0
1166 41.0
1167 43.0
1168 56.0
1169 41.0
1170 40.0
1171 65.0
1172 45.0
1173 53.0
1174 60.0
1175 40.0
1176 55.0
1177 42.0
1178 47.0
1179 50.0
1180 45.0
1181 39.0
1182 40.0
1183 52.0
1184 50.0
1185 43.0
1186 63.0
1187 55.0
1188 46.0
1189 62.0
1190 41.0
1191 38.0
1192 59.0
1193 34.0
1194 50.0
1195 59.0
1196 44.0
1197 33.0
1198 64.0
1199 60.0
1200 55.0
1201 50.0
1202 35.0
1203 57.0
1204 60.0
1205 53.0
1206 43.0
1207 56.0
1208 36.0
1209 38.0
1210 49.0
1211 49.0
1212 42.0
1213 35.0
1214 38.0
1215 62.0
1216 44.0
1217 39.0
1218 39.0
1219 46.0
1220 52.0
1221 48.0
1222 52.0
1223 57.0
1224 44.0
1225 57.0
1226 49.0
1227 42.0
1228 42.0
1229 64.0
1230 49.0
1231 59.0
1232 37.0
1233 33.0
1234 38.0
1235 40.0
1236 66.0
1237 64.0
1238 47.0
1239 39.0
1240 55.0
1241 41.0
1242 56.0
1243 65.0
1244 53.0
1245 42.0
1246 45.0
1247 55.0
1248 53.0
1249 62.0
1250 54.0
1251 61.0
1252 43.0
1253 49.0
1254 66.0
1255 42.0
1256 64.0
1257 43.0
1258 42.0
1259 46.0
1260 43.0
1261 53.0
1262 50.0
1263 46.0
1264 51.0
1265 67.0
1266 51.0
1267 45.0
1268 44.0
1269 47.0
1270 44.0
1271 48.0
1272 36.0
1273 63.0
1274 36.0
1275 65.0
1276 48.0
1277 63.0
1278 40.0
1279 40.0
1280 42.0
1281 63.0
1282 36.0
1283 46.0
1284 39.0
1285 39.0
1286 51.0
1287 48.0
1288 57.0
1289 41.0
1290 42.0
1291 38.0
1292 41.0
1293 43.0
1294 55.0
1295 38.0
1296 46.0
1297 45.0
1298 53.0
1299 44.0
1300 51.0
1301 39.0
1302 51.0
1303 55.0
1304 43.0
1305 67.0
1306 55.0
1307 39.0
1308 54.0
1309 41.0
1310 48.0
1311 45.0
1312 61.0
1313 38.0
1314 49.0
1315 47.0
1316 59.0
1317 60.0
1318 37.0
1319 48.0
1320 54.0
1321 39.0
1322 46.0
1323 58.0
1324 46.0
1325 65.0
1326 59.0
1327 52.0
1328 40.0
1329 54.0
1330 51.0
1331 60.0
1332 51.0
1333 44.0
1334 47.0
1335 59.0
1336 40.0
1337 50.0
1338 54.0
1339 51.0
1340 61.0
1341 41.0
1342 47.0
1343 46.0
1344 60.0
1345 49.0
1346 57.0
1347 45.0
1348 39.0
1349 61.0
1350 40.0
1351 55.0
1352 61.0
1353 52.0
1354 54.0
1355 50.0
1356 37.0
1357 55.0
1358 61.0
1359 63.0
1360 57.0
1361 58.0
1362 57.0
1363 40.0
1364 55.0
1365 43.0
1366 46.0
1367 52.0
1368 52.0
1369 64.0
1370 62.0
1371 42.0
1372 47.0
1373 52.0
1374 42.0
1375 39.0
1376 51.0
1377 38.0
1378 63.0
1379 41.0
1380 58.0
1381 47.0
1382 36.0
1383 56.0
1384 47.0
1385 49.0
1386 41.0
1387 51.0
1388 40.0
1389 44.0
1390 36.0
1391 61.0
1392 51.0
1393 43.0
1394 48.0
1395 37.0
1396 44.0
1397 54.0
1398 54.0
1399 59.0
1400 44.0
1401 45.0
1402 53.0
1403 46.0
1404 63.0
1405 52.0
1406 42.0
1407 48.0
1408 48.0
1409 42.0
1410 59.0
1411 40.0
1412 45.0
1413 38.0
1414 46.0
1415 67.0
1416 53.0
1417 38.0
1418 43.0
1419 59.0
1420 61.0
1421 52.0
1422 53.0
1423 67.0
1424 37.0
1425 54.0
1426 54.0
1427 55.0
1428 58.0
1429 62.0
1430 52.0
1431 47.0
1432 47.0
1433 39.0
1434 67.0
1435 46.0
1436 51.0
1437 38.0
1438 61.0
1439 40.0
1440 52.0
1441 36.0
1442 40.0
1443 63.0
1444 55.0
1445 42.0
1446 55.0
1447 39.0
1448 57.0
1449 60.0
1450 53.0
1451 39.0
1452 40.0
1453 62.0
1454 45.0
1455 40.0
1456 58.0
1457 36.0
1458 66.0
1459 62.0
1460 63.0
1461 61.0
1462 40.0
1463 41.0
1464 47.0
1465 44.0
1466 46.0
1467 45.0
1468 61.0
1469 43.0
1470 46.0
1471 52.0
1472 64.0
1473 49.0
1474 41.0
1475 50.0
1476 59.0
1477 56.0
1478 49.0
1479 50.0
1480 46.0
1481 70.0
1482 49.0
1483 41.0
1484 46.0
1485 50.0
1486 44.0
1487 57.0
1488 58.0
1489 41.0
1490 43.0
1491 36.0
1492 52.0
1493 44.0
1494 36.0
1495 38.0
1496 54.0
1497 39.0
1498 40.0
1499 48.0
1500 39.0
1501 41.0
1502 51.0
1503 60.0
1504 43.0
1505 42.0
1506 51.0
1507 39.0
1508 39.0
1509 51.0
1510 46.0
1511 40.0
1512 41.0
1513 47.0
1514 56.0
1515 44.0
1516 54.0
1517 63.0
1518 53.0
1519 50.0
1520 44.0
1521 56.0
1522 43.0
1523 47.0
1524 37.0
1525 53.0
1526 41.0
1527 56.0
1528 44.0
1529 57.0
1530 40.0
1531 66.0
1532 34.0
1533 62.0
1534 36.0
1535 39.0
1536 54.0
1537 53.0
1538 35.0
1539 40.0
1540 41.0
1541 43.0
1542 64.0
1543 43.0
1544 66.0
1545 51.0
1546 57.0
1547 62.0
1548 51.0
1549 35.0
1550 42.0
1551 47.0
1552 40.0
1553 58.0
1554 43.0
1555 48.0
1556 49.0
1557 55.0
1558 57.0
1559 51.0
1560 50.0
1561 44.0
1562 39.0
1563 47.0
1564 65.0
1565 43.0
1566 48.0
1567 57.0
1568 49.0
1569 39.0
1570 52.0
1571 49.0
1572 55.0
1573 46.0
1574 63.0
1575 64.0
1576 58.0
1577 52.0
1578 39.0
1579 39.0
1580 54.0
1581 38.0
1582 38.0
1583 55.0
1584 59.0
1585 45.0
1586 54.0
1587 48.0
1588 52.0
1589 56.0
1590 38.0
1591 50.0
1592 56.0
1593 37.0
1594 47.0
1595 60.0
1596 43.0
1597 36.0
1598 40.0
1599 44.0
1600 45.0
1601 57.0
1602 48.0
1603 57.0
1604 39.0
1605 51.0
1606 60.0
1607 61.0
1608 39.0
1609 51.0
1610 63.0
1611 55.0
1612 57.0
1613 55.0
1614 48.0
1615 58.0
1616 37.0
1617 48.0
1618 43.0
1619 51.0
1620 41.0
1621 65.0
1622 62.0
1623 42.0
1624 45.0
1625 58.0
1626 46.0
1627 51.0
1628 61.0
1629 40.0
1630 56.0
1631 53.0
1632 42.0
1633 59.0
1634 40.0
1635 60.0
1636 56.0
1637 40.0
1638 43.0
1639 55.0
1640 49.0
1641 59.0
1642 40.0
1643 38.0
1644 55.0
1645 45.0
1646 43.0
1647 57.0
1648 38.0
1649 40.0
1650 56.0
1651 64.0
1652 67.0
1653 43.0
1654 55.0
1655 48.0
1656 51.0
1657 57.0
1658 55.0
1659 38.0
1660 39.0
1661 63.0
1662 46.0
1663 49.0
1664 61.0
1665 42.0
1666 58.0
1667 41.0
1668 61.0
1669 62.0
1670 44.0
1671 61.0
1672 56.0
1673 41.0
1674 49.0
1675 56.0
1676 35.0
1677 40.0
1678 62.0
1679 47.0
1680 48.0
1681 42.0
1682 42.0
1683 50.0
1684 39.0
1685 58.0
1686 66.0
1687 61.0
1688 56.0
1689 60.0
1690 67.0
1691 60.0
1692 42.0
1693 50.0
1694 50.0
1695 43.0
1696 57.0
1697 56.0
1698 47.0
1699 56.0
1700 36.0
1701 63.0
1702 62.0
1703 44.0
1704 41.0
1705 56.0
1706 56.0
1707 50.0
1708 55.0
1709 38.0
1710 47.0
1711 54.0
1712 40.0
1713 63.0
1714 65.0
1715 50.0
1716 54.0
1717 39.0
1718 46.0
1719 53.0
1720 48.0
1721 51.0
1722 64.0
1723 63.0
1724 55.0
1725 39.0
1726 59.0
1727 52.0
1728 48.0
1729 64.0
1730 64.0
1731 54.0
1732 55.0
1733 47.0
1734 42.0
1735 55.0
1736 42.0
1737 47.0
1738 51.0
1739 62.0
1740 37.0
1741 58.0
1742 51.0
1743 48.0
1744 51.0
1745 52.0
1746 66.0
1747 37.0
1748 61.0
1749 42.0
1750 42.0
1751 40.0
1752 59.0
1753 58.0
1754 41.0
1755 51.0
1756 62.0
1757 49.0
1758 59.0
1759 44.0
1760 64.0
1761 45.0
1762 63.0
1763 38.0
1764 39.0
1765 45.0
1766 55.0
1767 63.0
1768 41.0
1769 46.0
1770 58.0
1771 53.0
1772 59.0
1773 46.0
1774 51.0
1775 42.0
1776 62.0
1777 47.0
1778 48.0
1779 57.0
1780 43.0
1781 64.0
1782 45.0
1783 49.0
1784 45.0
1785 53.0
1786 45.0
1787 52.0
1788 61.0
1789 46.0
1790 48.0
1791 48.0
1792 48.0
1793 63.0
1794 41.0
1795 64.0
1796 53.0
1797 42.0
1798 38.0
1799 63.0
1800 63.0
1801 59.0
1802 59.0
1803 46.0
1804 61.0
1805 48.0
1806 57.0
1807 40.0
1808 49.0
1809 43.0
1810 50.0
1811 51.0
1812 58.0
1813 51.0
1814 40.0
1815 46.0
1816 44.0
1817 59.0
1818 44.0
1819 36.0
1820 64.0
1821 47.0
1822 54.0
1823 52.0
1824 52.0
1825 38.0
1826 45.0
1827 42.0
1828 47.0
1829 43.0
1830 46.0
1831 42.0
1832 62.0
1833 62.0
1834 57.0
1835 39.0
1836 36.0
1837 38.0
1838 67.0
1839 64.0
1840 38.0
1841 38.0
1842 43.0
1843 38.0
1844 54.0
1845 41.0
1846 39.0
1847 50.0
1848 68.0
1849 54.0
1850 49.0
1851 40.0
1852 38.0
1853 48.0
1854 35.0
1855 50.0
1856 50.0
1857 44.0
1858 44.0
1859 45.0
1860 52.0
1861 51.0
1862 57.0
1863 60.0
1864 40.0
1865 38.0
1866 57.0
1867 64.0
1868 56.0
1869 54.0
1870 42.0
1871 58.0
1872 36.0
1873 35.0
1874 54.0
1875 62.0
1876 39.0
1877 45.0
1878 37.0
1879 64.0
1880 59.0
1881 40.0
1882 52.0
1883 40.0
1884 62.0
1885 48.0
1886 55.0
1887 57.0
1888 50.0
1889 50.0
1890 42.0
1891 65.0
1892 42.0
1893 66.0
1894 41.0
1895 57.0
1896 43.0
1897 39.0
1898 50.0
1899 50.0
1900 33.0
1901 36.0
1902 53.0
1903 67.0
1904 55.0
1905 56.0
1906 39.0
1907 62.0
1908 57.0
1909 39.0
1910 56.0
1911 54.0
1912 61.0
1913 39.0
1914 37.0
1915 60.0
1916 62.0
1917 58.0
1918 51.0
1919 48.0
1920 58.0
1921 54.0
1922 63.0
1923 37.0
1924 59.0
1925 55.0
1926 40.0
1927 56.0
1928 41.0
1929 45.0
1930 37.0
1931 50.0
1932 41.0
1933 41.0
1934 49.0
1935 51.0
1936 62.0
1937 42.0
1938 59.0
1939 52.0
1940 37.0
1941 36.0
1942 36.0
1943 39.0
1944 55.0
1945 40.0
1946 38.0
1947 44.0
1948 54.0
1949 40.0
1950 42.0
1951 66.0
1952 54.0
1953 57.0
1954 38.0
1955 42.0
1956 42.0
1957 45.0
1958 48.0
1959 44.0
1960 62.0
1961 41.0
1962 62.0
1963 49.0
1964 54.0
1965 53.0
1966 43.0
1967 61.0
1968 63.0
1969 56.0
1970 38.0
1971 53.0
1972 45.0
1973 51.0
1974 52.0
1975 40.0
1976 42.0
1977 37.0
1978 52.0
1979 44.0
1980 44.0
1981 42.0
1982 45.0
1983 39.0
1984 63.0
1985 42.0
1986 55.0
1987 46.0
1988 45.0
1989 37.0
1990 50.0
1991 52.0
1992 53.0
1993 46.0
1994 35.0
1995 42.0
1996 52.0
1997 41.0
1998 48.0
1999 62.0
2000 53.0
2001 60.0
2002 39.0
2003 43.0
2004 42.0
2005 60.0
2006 65.0
2007 45.0
2008 38.0
2009 38.0
2010 59.0
2011 55.0
2012 62.0
2013 37.0
2014 38.0
2015 52.0
2016 45.0
2017 41.0
2018 52.0
2019 59.0
2020 53.0
2021 48.0
2022 54.0
2023 39.0
2024 46.0
2025 45.0
2026 50.0
2027 46.0
2028 36.0
2029 53.0
2030 50.0
2031 63.0
2032 38.0
2033 56.0
2034 41.0
2035 38.0
2036 48.0
2037 56.0
2038 41.0
2039 48.0
2040 57.0
2041 44.0
2042 40.0
2043 45.0
2044 57.0
2045 42.0
2046 38.0
2047 41.0
2048 61.0
2049 63.0
2050 52.0
2051 48.0
2052 44.0
2053 49.0
2054 42.0
2055 42.0
2056 57.0
2057 57.0
2058 54.0
2059 39.0
2060 50.0
2061 49.0
2062 49.0
2063 48.0
2064 39.0
2065 54.0
2066 51.0
2067 54.0
2068 58.0
2069 45.0
2070 60.0
2071 47.0
2072 40.0
2073 64.0
2074 47.0
2075 54.0
2076 60.0
2077 48.0
2078 41.0
2079 36.0
2080 37.0
2081 39.0
2082 63.0
2083 66.0
2084 48.0
2085 37.0
2086 64.0
2087 46.0
2088 38.0
2089 43.0
2090 44.0
2091 44.0
2092 46.0
2093 46.0
2094 60.0
2095 61.0
2096 51.0
2097 63.0
2098 61.0
2099 36.0
2100 43.0
2101 60.0
2102 46.0
2103 48.0
2104 66.0
2105 40.0
2106 42.0
2107 44.0
2108 46.0
2109 50.0
2110 40.0
2111 50.0
2112 49.0
2113 42.0
2114 39.0
2115 49.0
2116 41.0
2117 37.0
2118 43.0
2119 64.0
2120 49.0
2121 40.0
2122 48.0
2123 63.0
2124 51.0
2125 64.0
2126 58.0
2127 48.0
2128 37.0

2129 55.0
2130 42.0
2131 43.0
2132 44.0
2133 37.0
2134 50.0
2135 58.0
2136 42.0
2137 48.0
2138 32.0
2139 39.0
2140 57.0
2141 54.0
2142 50.0
2143 60.0
2144 54.0
2145 46.0
2146 50.0
2147 45.0
2148 60.0
2149 52.0
2150 58.0
2151 38.0
2152 59.0
2153 41.0
2154 46.0
2155 53.0
2156 50.0
2157 57.0
2158 40.0
2159 41.0
2160 41.0
2161 56.0
2162 49.0
2163 47.0
2164 64.0
2165 59.0
2166 40.0
2167 45.0
2168 46.0
2169 42.0
2170 41.0
2171 35.0
2172 37.0
2173 55.0
2174 56.0
2175 51.0
2176 49.0
2177 62.0
2178 49.0
2179 44.0
2180 39.0
2181 51.0
2182 48.0
2183 43.0
2184 65.0
2185 65.0
2186 56.0
2187 45.0
2188 61.0
2189 53.0
2190 65.0
2191 34.0
2192 46.0
2193 49.0
2194 63.0
2195 55.0
2196 42.0
2197 44.0
2198 49.0
2199 60.0
2200 49.0
2201 52.0
2202 41.0
2203 36.0
2204 50.0
2205 59.0
2206 44.0
2207 49.0
2208 51.0
2209 56.0
2210 38.0
2211 66.0
2212 54.0
2213 48.0
2214 63.0
2215 63.0
2216 50.0
2217 51.0
2218 48.0
2219 60.0
2220 48.0
2221 58.0
2222 44.0
2223 39.0
2224 37.0
2225 56.0
2226 59.0
2227 53.0
2228 59.0
2229 65.0
2230 58.0
2231 40.0
2232 37.0
2233 64.0
2234 62.0
2235 35.0
2236 48.0
2237 37.0
2238 52.0
2239 51.0
2240 66.0
2241 54.0
2242 55.0
2243 57.0
2244 39.0
2245 59.0
2246 55.0
2247 42.0
2248 45.0
2249 48.0
2250 50.0
2251 37.0
2252 57.0
2253 57.0
2254 42.0
2255 67.0
2256 44.0
2257 59.0
2258 47.0
2259 59.0
2260 46.0
2261 39.0
2262 45.0
2263 53.0
2264 67.0
2265 57.0
2266 46.0
2267 45.0
2268 60.0
2269 53.0
2270 43.0
2271 45.0
2272 68.0
2273 57.0
2274 54.0
2275 44.0
2276 50.0
2277 39.0
2278 43.0
2279 42.0
2280 36.0
2281 54.0
2282 41.0
2283 60.0
2284 63.0
2285 41.0
2286 52.0
2287 53.0
2288 37.0
2289 38.0
2290 40.0
2291 37.0
2292 65.0
2293 39.0
2294 39.0
2295 41.0
2296 48.0
2297 50.0
2298 67.0
2299 41.0
2300 46.0
2301 43.0
2302 55.0
2303 55.0
2304 48.0
2305 57.0
2306 48.0
2307 38.0
2308 48.0
2309 40.0
2310 57.0
2311 40.0
2312 64.0
2313 53.0
2314 46.0
2315 51.0
2316 40.0
2317 52.0
2318 41.0
2319 50.0
2320 36.0
2321 51.0
2322 40.0
2323 45.0
2324 40.0
2325 43.0
2326 54.0
2327 51.0
2328 38.0
2329 36.0
2330 52.0
2331 39.0
2332 58.0
2333 49.0
2334 52.0
2335 40.0
2336 55.0
2337 58.0
2338 48.0
2339 54.0
2340 60.0
2341 41.0
2342 43.0
2343 49.0
2344 53.0
2345 44.0
2346 44.0
2347 42.0
2348 37.0
2349 45.0
2350 64.0
2351 36.0
2352 64.0
2353 54.0
2354 55.0
2355 59.0
2356 55.0
2357 60.0
2358 57.0
2359 42.0
2360 59.0
2361 58.0
2362 57.0
2363 52.0
2364 51.0
2365 49.0
2366 52.0
2367 41.0
2368 44.0
2369 40.0
2370 39.0
2371 38.0
2372 64.0
2373 44.0
2374 53.0
2375 43.0
2376 53.0
2377 60.0
2378 48.0
2379 50.0
2380 45.0
2381 56.0
2382 61.0
2383 44.0
2384 43.0
2385 59.0
2386 41.0
2387 42.0
2388 61.0
2389 43.0
2390 47.0
2391 55.0
2392 38.0
2393 46.0
2394 66.0
2395 64.0
2396 40.0
2397 60.0
2398 63.0
2399 64.0
2400 45.0
2401 47.0
2402 54.0
2403 42.0
2404 46.0
2405 55.0
2406 44.0
2407 52.0
2408 65.0
2409 51.0
2410 42.0
2411 42.0
2412 58.0
2413 40.0
2414 41.0
2415 57.0
2416 55.0
2417 65.0
2418 59.0
2419 51.0
2420 36.0
2421 63.0
2422 37.0
2423 51.0
2424 52.0
2425 47.0
2426 56.0
2427 39.0
2428 68.0
2429 52.0
2430 65.0
2431 47.0
2432 54.0
2433 67.0
2434 63.0
2435 58.0
2436 63.0
2437 58.0
2438 36.0
2439 46.0
2440 64.0
2441 56.0
2442 68.0
2443 63.0
2444 49.0
2445 40.0
2446 46.0
2447 51.0
2448 44.0
2449 67.0
2450 38.0
2451 43.0
2452 46.0
2453 41.0
2454 54.0
2455 41.0
2456 48.0
2457 62.0
2458 58.0
2459 67.0
2460 38.0
2461 41.0
2462 37.0
2463 62.0
2464 44.0
2465 48.0
2466 44.0
2467 42.0
2468 46.0
2469 46.0
2470 56.0
2471 40.0
2472 53.0
2473 63.0
2474 41.0
2475 55.0
2476 45.0
2477 68.0
2478 43.0
2479 45.0
2480 38.0
2481 40.0
2482 40.0
2483 43.0
2484 58.0
2485 45.0
2486 59.0
2487 39.0
2488 64.0
2489 44.0
2490 39.0
2491 47.0
2492 45.0
2493 45.0
2494 50.0
2495 54.0
2496 41.0
2497 44.0
2498 44.0
2499 45.0
2500 41.0
2501 41.0
2502 58.0
2503 65.0
2504 44.0
2505 41.0
2506 60.0
2507 40.0
2508 56.0
2509 52.0
2510 54.0
2511 42.0
2512 42.0
2513 43.0
2514 49.0
2515 47.0
2516 53.0
2517 62.0
2518 55.0
2519 41.0
2520 38.0
2521 50.0
2522 44.0
2523 55.0
2524 53.0
2525 54.0
2526 47.0
2527 51.0
2528 60.0
2529 49.0
2530 43.0
2531 57.0
2532 61.0
2533 47.0
2534 62.0
2535 62.0
2536 35.0
2537 51.0
2538 42.0
2539 40.0
2540 44.0
2541 46.0
2542 40.0
2543 40.0
2544 48.0
2545 43.0
2546 48.0
2547 43.0
2548 38.0
2549 48.0
2550 58.0
2551 51.0
2552 42.0
2553 46.0
2554 48.0
2555 55.0
2556 41.0
2557 57.0
2558 51.0
2559 42.0
2560 41.0
2561 45.0
2562 61.0
2563 43.0
2564 54.0
2565 40.0
2566 59.0
2567 40.0
2568 60.0
2569 49.0
2570 52.0
2571 51.0
2572 49.0
2573 52.0
2574 42.0
2575 44.0
2576 54.0
2577 48.0
2578 52.0
2579 42.0
2580 50.0
2581 46.0
2582 59.0
2583 59.0
2584 50.0
2585 39.0
2586 58.0
2587 47.0
2588 57.0
2589 63.0
2590 43.0
2591 56.0
2592 50.0
2593 47.0
2594 48.0
2595 56.0
2596 40.0
2597 63.0
2598 52.0
2599 59.0
2600 42.0
2601 41.0
2602 48.0
2603 49.0
2604 43.0
2605 53.0
2606 49.0
2607 67.0
2608 42.0
2609 59.0
2610 46.0
2611 47.0
2612 36.0
2613 51.0
2614 49.0
2615 54.0
2616 49.0
2617 67.0
2618 62.0
2619 38.0
2620 50.0
2621 45.0
2622 48.0
2623 58.0
2624 36.0
2625 55.0
2626 57.0
2627 43.0
2628 63.0
2629 59.0
2630 67.0
2631 42.0
2632 52.0
2633 39.0
2634 42.0
2635 43.0
2636 52.0
2637 45.0
2638 61.0
2639 56.0
2640 43.0
2641 56.0
2642 55.0
2643 46.0
2644 43.0
2645 43.0
2646 64.0
2647 50.0
2648 48.0
2649 49.0
2650 57.0
2651 51.0
2652 40.0
2653 51.0
2654 41.0
2655 59.0
2656 61.0
2657 43.0
2658 65.0
2659 42.0
2660 41.0
2661 56.0
2662 56.0
2663 56.0
2664 59.0
2665 54.0
2666 45.0
2667 53.0
2668 54.0
2669 59.0
2670 41.0
2671 47.0
2672 44.0
2673 54.0
2674 55.0
2675 53.0
2676 52.0
2677 51.0
2678 49.0
2679 68.0
2680 39.0
2681 54.0
2682 46.0
2683 49.0
2684 46.0
2685 51.0
2686 55.0
2687 61.0
2688 38.0
2689 36.0
2690 50.0
2691 42.0
2692 45.0
2693 48.0
2694 50.0
2695 52.0
2696 50.0
2697 58.0
2698 57.0
2699 44.0
2700 40.0
2701 58.0
2702 45.0
2703 38.0
2704 61.0
2705 62.0
2706 50.0
2707 36.0
2708 44.0
2709 44.0
2710 44.0
2711 55.0
2712 48.0
2713 64.0
2714 53.0
2715 37.0
2716 40.0
2717 45.0
2718 39.0
2719 55.0
2720 57.0
2721 42.0
2722 52.0
2723 35.0
2724 39.0
2725 54.0
2726 56.0
2727 49.0
2728 39.0
2729 53.0
2730 59.0
2731 52.0
2732 45.0
2733 53.0
2734 66.0
2735 41.0
2736 45.0
2737 46.0
2738 41.0
2739 59.0
2740 44.0
2741 56.0
2742 57.0
2743 53.0
2744 34.0
2745 38.0
2746 44.0
2747 45.0
2748 57.0
2749 61.0
2750 38.0
2751 57.0
2752 47.0
2753 58.0
2754 60.0
2755 63.0
2756 56.0
2757 54.0
2758 57.0
2759 44.0
2760 60.0
2761 41.0
2762 50.0
2763 49.0
2764 50.0
2765 52.0
2766 33.0
2767 46.0
2768 52.0
2769 45.0
2770 46.0
2771 63.0
2772 41.0
2773 41.0
2774 52.0
2775 46.0
2776 63.0
2777 37.0
2778 43.0
2779 67.0
2780 42.0
2781 51.0
2782 63.0
2783 36.0
2784 51.0
2785 43.0
2786 40.0
2787 49.0
2788 57.0
2789 39.0
2790 58.0
2791 61.0
2792 53.0
2793 60.0
2794 40.0
2795 49.0
2796 52.0
2797 57.0
2798 46.0
2799 40.0
2800 54.0
2801 51.0
2802 54.0
2803 51.0
2804 39.0
2805 47.0
2806 63.0
2807 39.0
2808 40.0
2809 47.0
2810 42.0
2811 38.0
2812 44.0
2813 45.0
2814 53.0
2815 54.0
2816 48.0
2817 38.0
2818 54.0
2819 51.0
2820 39.0
2821 46.0
2822 44.0
2823 48.0
2824 42.0
2825 52.0
2826 62.0
2827 54.0
2828 64.0
2829 65.0
2830 49.0
2831 60.0
2832 70.0
2833 44.0
2834 40.0
2835 47.0
2836 39.0
2837 57.0
2838 58.0
2839 67.0
2840 42.0
2841 52.0
2842 51.0
2843 50.0
2844 41.0
2845 38.0
2846 57.0
2847 35.0
2848 42.0
2849 37.0
2850 35.0
2851 51.0
2852 62.0
2853 42.0
2854 39.0
2855 44.0
2856 59.0
2857 60.0
2858 53.0
2859 40.0
2860 53.0
2861 41.0
2862 60.0
2863 36.0
2864 45.0
2865 50.0
2866 43.0
2867 45.0
2868 49.0
2869 42.0
2870 55.0
2871 45.0
2872 53.0
2873 39.0
2874 38.0
2875 42.0
2876 48.0
2877 62.0
2878 63.0
2879 49.0
2880 43.0
2881 45.0
2882 38.0
2883 46.0
2884 48.0
2885 45.0
2886 59.0
2887 43.0
2888 45.0
2889 49.0
2890 38.0
2891 47.0
2892 45.0
2893 49.0
2894 37.0
2895 37.0
2896 45.0
2897 57.0
2898 46.0
2899 48.0
2900 46.0
2901 57.0
2902 55.0
2903 39.0
2904 40.0
2905 42.0
2906 61.0
2907 65.0
2908 36.0
2909 44.0
2910 50.0
2911 43.0
2912 50.0
2913 41.0
2914 43.0
2915 41.0
2916 55.0
2917 58.0
2918 46.0
2919 45.0
2920 66.0
2921 47.0
2922 51.0
2923 46.0
2924 43.0
2925 42.0
2926 64.0
2927 39.0
2928 45.0
2929 52.0
2930 50.0
2931 60.0
2932 62.0
2933 51.0
2934 51.0
2935 40.0
2936 39.0
2937 47.0
2938 48.0
2939 40.0
2940 43.0
2941 51.0
2942 59.0
2943 44.0
2944 64.0
2945 50.0
2946 37.0
2947 54.0
2948 60.0
2949 69.0
2950 36.0
2951 51.0
2952 40.0
2953 58.0
2954 44.0
2955 44.0
2956 42.0
2957 48.0
2958 46.0
2959 44.0
2960 47.0
2961 46.0
2962 41.0
2963 61.0
2964 42.0
2965 69.0
2966 53.0
2967 66.0
2968 45.0
2969 38.0
2970 58.0
2971 39.0
2972 56.0
2973 44.0
2974 59.0
2975 63.0
2976 41.0
2977 55.0
2978 46.0
2979 46.0
2980 48.0
2981 46.0
2982 48.0
2983 57.0
2984 40.0
2985 61.0
2986 47.0
2987 47.0
2988 42.0
2989 56.0
2990 41.0
2991 58.0
2992 48.0
2993 65.0
2994 61.0
2995 47.0
2996 41.0
2997 60.0
2998 37.0
2999 36.0
3000 52.0
3001 58.0
3002 57.0
3003 45.0
3004 58.0
3005 62.0
3006 61.0
3007 44.0
3008 48.0
3009 65.0
3010 39.0
3011 40.0
3012 63.0
3013 39.0
3014 50.0
3015 46.0
3016 47.0
3017 64.0
3018 59.0
3019 63.0
3020 51.0
3021 47.0
3022 38.0
3023 45.0
3024 61.0
3025 51.0
3026 45.0
3027 54.0
3028 64.0
3029 49.0
3030 59.0
3031 48.0
3032 48.0
3033 63.0
3034 55.0
3035 42.0
3036 59.0
3037 64.0
3038 51.0
3039 54.0
3040 66.0
3041 36.0
3042 54.0
3043 47.0
3044 41.0
3045 62.0
3046 65.0
3047 50.0
3048 55.0
3049 51.0
3050 37.0
3051 68.0
3052 60.0
3053 47.0
3054 38.0
3055 47.0
3056 51.0
3057 61.0
3058 41.0
3059 47.0
3060 37.0
3061 59.0
3062 50.0
3063 44.0
3064 61.0
3065 43.0
3066 62.0
3067 57.0
3068 39.0
3069 46.0
3070 49.0
3071 44.0
3072 62.0
3073 55.0
3074 58.0
3075 53.0
3076 46.0
3077 62.0
3078 52.0
3079 41.0
3080 44.0
3081 58.0
3082 51.0
3083 63.0
3084 42.0
3085 44.0
3086 57.0
3087 49.0
3088 53.0
3089 54.0
3090 63.0
3091 63.0
3092 42.0
3093 41.0
3094 66.0
3095 52.0
3096 48.0
3097 53.0
3098 45.0
3099 40.0
3100 39.0
3101 51.0
3102 45.0
3103 44.0
3104 55.0
3105 56.0
3106 51.0
3107 42.0
3108 52.0
3109 36.0
3110 42.0
3111 48.0
3112 50.0
3113 36.0
3114 62.0
3115 61.0
3116 36.0
3117 58.0
3118 57.0
3119 49.0
3120 48.0
3121 56.0
3122 61.0
3123 51.0
3124 42.0
3125 58.0
3126 47.0
3127 52.0
3128 57.0
3129 61.0
3130 62.0
3131 56.0
3132 57.0
3133 60.0
3134 50.0
3135 52.0
3136 54.0
3137 44.0
3138 59.0
3139 62.0
3140 45.0
3141 40.0
3142 43.0
3143 42.0
3144 40.0
3145 48.0
3146 43.0
3147 59.0
3148 63.0
3149 50.0
3150 38.0
3151 35.0
3152 56.0
3153 45.0
3154 40.0
3155 35.0
3156 62.0
3157 61.0
3158 54.0
3159 38.0
3160 63.0
3161 60.0
3162 49.0
3163 53.0
3164 50.0
3165 62.0
3166 55.0
3167 46.0
3168 40.0
3169 38.0
3170 55.0
3171 40.0
3172 58.0
3173 49.0
3174 50.0
3175 45.0
3176 42.0
3177 51.0
3178 56.0
3179 53.0
3180 38.0
3181 59.0
3182 48.0
3183 40.0
3184 62.0
3185 36.0
3186 43.0
3187 56.0
3188 59.0
3189 43.0
3190 43.0
3191 50.0
3192 46.0
3193 60.0
3194 43.0
3195 61.0
3196 60.0
3197 48.0
3198 38.0
3199 44.0
3200 52.0
3201 60.0
3202 62.0
3203 58.0
3204 48.0
3205 44.0
3206 47.0
3207 44.0
3208 46.0
3209 37.0
3210 57.0
3211 55.0
3212 54.0
3213 55.0
3214 46.0
3215 39.0
3216 37.0
3217 43.0
3218 46.0
3219 68.0
3220 46.0
3221 41.0
3222 55.0
3223 39.0
3224 46.0
3225 53.0

3226 58.0
3227 57.0
3228 40.0
3229 49.0
3230 43.0
3231 37.0
3232 43.0
3233 46.0
3234 62.0
3235 61.0
3236 49.0
3237 56.0
3238 54.0
3239 39.0
3240 65.0
3241 40.0
3242 41.0
3243 36.0
3244 48.0
3245 52.0
3246 63.0
3247 61.0
3248 44.0
3249 53.0
3250 44.0
3251 44.0
3252 48.0
3253 45.0
3254 58.0
3255 40.0
3256 47.0
3257 44.0
3258 47.0
3259 57.0
3260 60.0
3261 41.0
3262 42.0
3263 58.0
3264 45.0
3265 63.0
3266 49.0
3267 51.0
3268 40.0
3269 49.0
3270 55.0
3271 38.0
3272 54.0
3273 40.0
3274 54.0
3275 66.0
3276 63.0
3277 52.0
3278 48.0
3279 54.0
3280 38.0
3281 65.0
3282 53.0
3283 44.0
3284 47.0
3285 57.0
3286 44.0
3287 43.0
3288 50.0
3289 41.0
3290 45.0
3291 46.0
3292 50.0
3293 42.0
3294 58.0
3295 48.0
3296 36.0
3297 55.0
3298 68.0
3299 37.0
3300 50.0
3301 62.0
3302 40.0
3303 41.0
3304 38.0
3305 53.0
3306 56.0
3307 46.0
3308 51.0
3309 39.0
3310 37.0
3311 46.0
3312 48.0
3313 48.0
3314 49.0
3315 60.0
3316 49.0
3317 41.0
3318 38.0
3319 56.0
3320 54.0
3321 48.0
3322 69.0
3323 67.0
3324 43.0
3325 48.0
3326 48.0
3327 42.0
3328 47.0
3329 62.0
3330 57.0
3331 38.0
3332 51.0
3333 40.0
3334 43.0
3335 34.0
3336 55.0
3337 44.0
3338 50.0
3339 52.0
3340 63.0
3341 43.0
3342 41.0
3343 34.0
3344 37.0
3345 50.0
3346 36.0
3347 59.0
3348 40.0
3349 42.0
3350 42.0
3351 43.0
3352 49.0
3353 47.0
3354 60.0
3355 46.0
3356 46.0
3357 49.0
3358 53.0
3359 57.0
3360 44.0
3361 60.0
3362 47.0
3363 40.0
3364 44.0
3365 65.0
3366 49.0
3367 56.0
3368 41.0
3369 46.0
3370 56.0
3371 59.0
3372 45.0
3373 63.0
3374 59.0
3375 60.0
3376 48.0
3377 50.0
3378 45.0
3379 55.0
3380 55.0
3381 41.0
3382 57.0
3383 65.0
3384 36.0
3385 60.0
3386 44.0
3387 55.0
3388 61.0
3389 59.0
3390 60.0
3391 54.0
3392 45.0
3393 56.0
3394 35.0
3395 34.0
3396 46.0
3397 45.0
3398 50.0
3399 55.0
3400 53.0
3401 60.0
3402 39.0
3403 61.0
3404 40.0
3405 52.0
3406 35.0
3407 49.0
3408 43.0
3409 40.0
3410 39.0
3411 51.0
3412 37.0
3413 61.0
3414 47.0
3415 67.0
3416 55.0
3417 41.0
3418 60.0
3419 42.0
3420 38.0
3421 47.0
3422 61.0
3423 52.0
3424 56.0
3425 54.0
3426 34.0
3427 58.0
3428 54.0
3429 48.0
3430 59.0
3431 53.0
3432 43.0
3433 54.0
3434 48.0
3435 48.0
3436 46.0
3437 43.0
3438 53.0
3439 51.0
3440 52.0
3441 43.0
3442 65.0
3443 50.0
3444 49.0
3445 35.0
3446 61.0
3447 44.0
3448 41.0
3449 60.0
3450 56.0
3451 47.0
3452 41.0
3453 53.0
3454 48.0
3455 39.0
3456 38.0
3457 65.0
3458 39.0
3459 37.0
3460 37.0
3461 39.0
3462 52.0
3463 55.0
3464 62.0
3465 46.0
3466 52.0
3467 68.0
3468 45.0
3469 62.0
3470 53.0
3471 42.0
3472 65.0
3473 63.0
3474 49.0
3475 52.0
3476 45.0
3477 53.0
3478 62.0
3479 40.0
3480 57.0
3481 41.0
3482 37.0
3483 46.0
3484 38.0
3485 48.0
3486 62.0
3487 55.0
3488 68.0
3489 45.0
3490 58.0
3491 46.0
3492 43.0
3493 43.0
3494 38.0
3495 64.0
3496 67.0
3497 45.0
3498 45.0
3499 48.0
3500 61.0
3501 52.0
3502 64.0
3503 57.0
3504 45.0
3505 46.0
3506 38.0
3507 56.0
3508 59.0
3509 48.0
3510 40.0
3511 41.0
3512 45.0
3513 59.0
3514 47.0
3515 39.0
3516 65.0
3517 37.0
3518 40.0
3519 53.0
3520 38.0
3521 57.0
3522 42.0
3523 39.0
3524 65.0
3525 46.0
3526 58.0
3527 68.0
3528 40.0
3529 38.0
3530 52.0
3531 54.0
3532 44.0
3533 47.0
3534 42.0
3535 59.0
3536 55.0
3537 40.0
3538 43.0
3539 43.0
3540 56.0
3541 52.0
3542 62.0
3543 44.0
3544 63.0
3545 57.0
3546 38.0
3547 38.0
3548 38.0
3549 59.0
3550 52.0
3551 35.0
3552 61.0
3553 67.0
3554 56.0
3555 55.0
3556 48.0
3557 51.0
3558 43.0
3559 40.0
3560 46.0
3561 62.0
3562 35.0
3563 49.0
3564 49.0
3565 47.0
3566 45.0
3567 39.0
3568 51.0
3569 51.0
3570 55.0
3571 57.0
3572 41.0
3573 48.0
3574 48.0
3575 47.0
3576 53.0
3577 44.0
3578 63.0
3579 59.0
3580 41.0
3581 39.0
3582 40.0
3583 66.0
3584 52.0
3585 39.0
3586 56.0
3587 64.0
3588 42.0
3589 42.0
3590 54.0
3591 43.0
3592 64.0
3593 56.0
3594 62.0
3595 64.0
3596 43.0
3597 56.0
3598 46.0
3599 61.0
3600 55.0
3601 61.0
3602 54.0
3603 41.0
3604 51.0
3605 35.0
3606 46.0
3607 55.0
3608 39.0
3609 43.0
3610 40.0
3611 54.0
3612 41.0
3613 46.0
3614 44.0
3615 37.0
3616 54.0
3617 46.0
3618 58.0
3619 46.0
3620 39.0
3621 52.0
3622 40.0
3623 46.0
3624 40.0
3625 64.0
3626 48.0
3627 44.0
3628 40.0
3629 39.0
3630 55.0
3631 38.0
3632 62.0
3633 63.0
3634 43.0
3635 55.0
3636 53.0
3637 60.0
3638 45.0
3639 48.0
3640 46.0
3641 55.0
3642 36.0
3643 60.0
3644 34.0
3645 40.0
3646 40.0
3647 49.0
3648 40.0
3649 52.0
3650 58.0
3651 46.0
3652 39.0
3653 52.0
3654 66.0
3655 56.0
3656 44.0
3657 56.0
3658 39.0
3659 56.0
3660 46.0
3661 37.0
3662 59.0
3663 50.0
3664 41.0
3665 39.0
3666 44.0
3667 48.0
3668 44.0
3669 44.0
3670 57.0
3671 48.0
3672 55.0
3673 38.0
3674 61.0
3675 46.0
3676 41.0
3677 53.0
3678 47.0
3679 42.0
3680 42.0
3681 51.0
3682 40.0
3683 52.0
3684 53.0
3685 51.0
3686 40.0
3687 63.0
3688 61.0
3689 43.0
3690 42.0
3691 62.0
3692 36.0
3693 63.0
3694 47.0
3695 46.0
3696 54.0
3697 58.0
3698 56.0
3699 47.0
3700 64.0
3701 51.0
3702 43.0
3703 40.0
3704 46.0
3705 64.0
3706 60.0
3707 56.0
3708 54.0
3709 37.0
3710 61.0
3711 69.0
3712 56.0
3713 50.0
3714 51.0
3715 38.0
3716 43.0
3717 46.0
3718 43.0
3719 56.0
3720 54.0
3721 45.0
3722 61.0
3723 49.0
3724 64.0
3725 65.0
3726 63.0
3727 40.0
3728 47.0
3729 37.0
3730 51.0
3731 40.0
3732 69.0
3733 51.0
3734 57.0
3735 64.0
3736 38.0
3737 48.0
3738 53.0
3739 57.0
3740 45.0
3741 57.0
3742 57.0
3743 39.0
3744 46.0
3745 42.0
3746 42.0
3747 42.0
3748 67.0
3749 53.0
3750 49.0
3751 48.0
3752 47.0
3753 55.0
3754 59.0
3755 55.0
3756 42.0
3757 48.0
3758 42.0
3759 55.0
3760 62.0
3761 36.0
3762 57.0
3763 52.0
3764 47.0
3765 38.0
3766 61.0
3767 69.0
3768 62.0
3769 37.0
3770 47.0
3771 65.0
3772 39.0
3773 44.0
3774 57.0
3775 45.0
3776 62.0
3777 38.0
3778 41.0
3779 58.0
3780 54.0
3781 51.0
3782 52.0
3783 41.0
3784 52.0
3785 41.0
3786 54.0
3787 43.0
3788 38.0
3789 65.0
3790 37.0
3791 44.0
3792 49.0
3793 42.0
3794 44.0
3795 54.0
3796 41.0
3797 37.0
3798 45.0
3799 63.0
3800 65.0
3801 40.0
3802 46.0
3803 63.0
3804 52.0
3805 61.0
3806 38.0
3807 62.0
3808 42.0
3809 63.0
3810 38.0
3811 46.0
3812 43.0
3813 61.0
3814 65.0
3815 50.0
3816 42.0
3817 48.0
3818 48.0
3819 56.0
3820 63.0
3821 59.0
3822 63.0
3823 52.0
3824 48.0
3825 60.0
3826 50.0
3827 53.0
3828 56.0
3829 47.0
3830 45.0
3831 58.0
3832 43.0
3833 50.0
3834 58.0
3835 68.0
3836 50.0
3837 51.0
3838 48.0
3839 52.0
3840 40.0
3841 39.0

<h2>Indexing</h2>

Maybe I feel like integers aren't the best identifiers for my rows. Pandas allows us to change that!

In [238]:
df.loc[0:5, 'AGE':'DIABETES'].set_index('AGE')

     SYSBP  DIABP  TOTCHOL  CURSMOKE  DIABETES
AGE
39   106.0   70.0    195.0         0         0
46   121.0   81.0    250.0         0         0
48   127.5   80.0    245.0         1         0
61   150.0   95.0    225.0         1         0
46   130.0   84.0    285.0         1         0
43   180.0  110.0    228.0         0         0

In this case, age is a pretty poor index as its not necessarily unique (note 46 appearing twice). Luckily, we did not modify the actual dataframe. To do so would require us to pass in an argument inplace=True such that our method now looks like <b>.set_index('AGE', inplace=True)</b>. You can also specify this when reading in the file: <b>df = pd.read_csv("framingham.csv", index_col='AGE')</b>

<h2>Modifying DataFrame</h2>

In [239]:
df['SUM'] = df['SYSBP'] + df['DIABP'] # add a column to sum two others
cols = list(df.columns.values)
df = df[cols[0:2] + [cols[-1]] + cols[2:9]] # move sum
df.head(5)

,AGE,SYSBP,SUM,DIABP,TOTCHOL,CURSMOKE,DIABETES,GLUCOSE,DEATH,ANYCHD
0,39,106.0,176.0,70.0,195.0,0,0,77.0,0,1
1,46,121.0,202.0,81.0,250.0,0,0,76.0,0,0
2,48,127.5,207.5,80.0,245.0,1,0,70.0,0,0
3,61,150.0,245.0,95.0,225.0,1,0,103.0,1,0
4,46,130.0,214.0,84.0,285.0,1,0,85.0,0,0

In [240]:
df = df.drop(columns=['SUM'])
df.head(5)

   AGE  SYSBP  DIABP  TOTCHOL  CURSMOKE  DIABETES  GLUCOSE  DEATH  ANYCHD
0   39  106.0   70.0    195.0         0         0     77.0      0       1
1   46  121.0   81.0    250.0         0         0     76.0      0       0
2   48  127.5   80.0    245.0         1         0     70.0      0       0
3   61  150.0   95.0    225.0         1         0    103.0      1       0
4   46  130.0   84.0    285.0         1         0     85.0      0       0

<h2>Write to files</h2>

You can write to a new csv or txt file! By specifying the delimiter as a tab the datframe will be saved as txt. This will copy your dataframe to "modified.csv". It is also possible to write to excel files.

In [241]:
df.to_csv('modified.txt', index=0, sep='\t') # Specify tab as separater

<h2>Filtering Data</h2>

We can filter data by columns. Note the ampersand and | and NOT 'and' or 'or'. We can not use and here as we are implicitly asking Python to convert (df['AGE']==48) and (df['DEATH']==1) to boolean values.

NumPy arrays (of length greater than 1) and Pandas objects such as Series do not have a boolean value

In [242]:
# save new datframe
new_df = df.loc[(df['AGE']<37) & (df['DEATH']==1)] # df.loc[(df['AGE']==48) | (df['DEATH']==1)]
new_df.reset_index()

,index,AGE,SYSBP,DIABP,TOTCHOL,CURSMOKE,DIABETES,GLUCOSE,DEATH,ANYCHD
0,45,36,139.0,93.0,194.0,1,0,62.0,1,1
1,172,36,118.0,76.0,215.0,1,0,97.0,1,0
2,280,36,118.0,90.0,304.0,1,0,80.0,1,1
3,585,36,117.0,90.0,194.0,0,0,87.0,1,0
4,747,36,102.5,65.0,178.0,1,0,94.0,1,0
5,872,36,98.0,66.0,160.0,1,0,73.0,1,0
6,2908,36,109.0,69.0,195.0,1,0,70.0,1,0
7,3155,35,83.5,55.0,168.0,1,0,63.0,1,0
8,3185,36,115.0,65.0,197.0,0,0,77.0,1,1
9,3343,34,111.0,56.0,180.0,1,0,78.0,1,0
10,3562,35,121.5,74.5,175.0,0,0,93.0,1,0

when we make a new dataframe, it can be helpful to reset the index

In [243]:
new_df = new_df.reset_index()
new_df

,index,AGE,SYSBP,DIABP,TOTCHOL,CURSMOKE,DIABETES,GLUCOSE,DEATH,ANYCHD
0,45,36,139.0,93.0,194.0,1,0,62.0,1,1
1,172,36,118.0,76.0,215.0,1,0,97.0,1,0
2,280,36,118.0,90.0,304.0,1,0,80.0,1,1
3,585,36,117.0,90.0,194.0,0,0,87.0,1,0
4,747,36,102.5,65.0,178.0,1,0,94.0,1,0
5,872,36,98.0,66.0,160.0,1,0,73.0,1,0
6,2908,36,109.0,69.0,195.0,1,0,70.0,1,0
7,3155,35,83.5,55.0,168.0,1,0,63.0,1,0
8,3185,36,115.0,65.0,197.0,0,0,77.0,1,1
9,3343,34,111.0,56.0,180.0,1,0,78.0,1,0
10,3562,35,121.5,74.5,175.0,0,0,93.0,1,0

In [244]:
df['FILTER OUT'] = 'HAHA'
df.head()

,AGE,SYSBP,DIABP,TOTCHOL,CURSMOKE,DIABETES,GLUCOSE,DEATH,ANYCHD,FILTER OUT
0,39,106.0,70.0,195.0,0,0,77.0,0,1,HAHA
1,46,121.0,81.0,250.0,0,0,76.0,0,0,HAHA
2,48,127.5,80.0,245.0,1,0,70.0,0,0,HAHA
3,61,150.0,95.0,225.0,1,0,103.0,1,0,HAHA
4,46,130.0,84.0,285.0,1,0,85.0,0,0,HAHA

In [245]:
df.loc[(~df['FILTER OUT'].str.contains('HA'))] # all of the strings contain ha

Empty DataFrame
Columns: [AGE, SYSBP, DIABP, TOTCHOL, CURSMOKE, DIABETES, GLUCOSE, DEATH, ANYCHD, FILTER OUT]
Index: []

In [246]:
df = df.drop(columns=['FILTER OUT'])
df

      AGE  SYSBP  DIABP  TOTCHOL  CURSMOKE  DIABETES  GLUCOSE  DEATH  ANYCHD
0      39  106.0   70.0    195.0         0         0     77.0      0       1
1      46  121.0   81.0    250.0         0         0     76.0      0       0
2      48  127.5   80.0    245.0         1         0     70.0      0       0
3      61  150.0   95.0    225.0         1         0    103.0      1       0
4      46  130.0   84.0    285.0         1         0     85.0      0       0
...   ...    ...    ...      ...       ...       ...      ...    ...     ...
3837   51  126.5   80.0    207.0         1         0     68.0      1       0
3838   48  131.0   72.0    248.0         1         0     86.0      1       0
3839   52  133.5   83.0    269.0         0         0    107.0      0       1
3840   40  141.0   98.0    185.0         0         0     72.0      0       0
3841   39  133.0   86.0    196.0         1         0     80.0      0       0

[3842 rows x 9 columns]

The <b>re</b> library is very powerful for filtering

In [247]:
import re
imdb = pd.read_csv("imdb.csv")
imdb

       Votes  Rating                                  Title  Year  Decade
0      88355     8.4                                      M  1931    1930
1     132823     8.3                    Singin' in the Rain  1952    1950
2      74178     8.3                          All About Eve  1950    1950
3     635139     8.6                                   Léon  1994    1990
4     145514     8.2                       The Elephant Man  1980    1980
..       ...     ...                                    ...   ...     ...
245  1078416     8.7                           Forrest Gump  1994    1990
246    31003     8.1                  Le salaire de la peur  1953    1950
247   167076     8.2                               3 Idiots  2009    2000
248    91689     8.1                                Network  1976    1970
249   589477     8.3  Eternal Sunshine of the Spotless Mind  2004    2000

[250 rows x 5 columns]

Here we wish to find where net or for are in the IMDB movie title. We specify that it is not case sensitive with flag I

In [248]:
imdb.loc[(imdb['Title'].str.contains('NET|FoR', flags=re.I,regex=1))]

       Votes  Rating                        Title  Year  Decade
24    700999     8.2               V for Vendetta  2005    2000
32    158867     8.0               Before Sunrise  1995    1990
69    511177     8.3          Requiem for a Dream  2000    2000
80    540744     8.1       No Country for Old Men  2007    2000
130   248514     8.3                   Unforgiven  1992    1990
160    53186     8.3  Witness for the Prosecution  1957    1950
165    92244     8.1            Dial M for Murder  1954    1950
172   147277     8.0                Before Sunset  2004    2000
245  1078416     8.7                 Forrest Gump  1994    1990
248    91689     8.1                      Network  1976    1970

<h2>Conditional Changes</h2>

Here we can specify that if some value is true, change said value to something else

In [250]:
df.loc[df['AGE']<40, 'DEATH'] = 1 # if they are under 40, they die
# df.loc[df['AGE']<40, ['DEATH', ANYCHD]] = [1, 0]  HERE WE CAN CHANGE MULTIPLE VALUES
df

      AGE  SYSBP  DIABP  TOTCHOL  CURSMOKE  DIABETES  GLUCOSE  DEATH  ANYCHD
0      39  106.0   70.0    195.0         0         0     77.0      1       1
1      46  121.0   81.0    250.0         0         0     76.0      0       0
2      48  127.5   80.0    245.0         1         0     70.0      0       0
3      61  150.0   95.0    225.0         1         0    103.0      1       0
4      46  130.0   84.0    285.0         1         0     85.0      0       0
...   ...    ...    ...      ...       ...       ...      ...    ...     ...
3837   51  126.5   80.0    207.0         1         0     68.0      1       0
3838   48  131.0   72.0    248.0         1         0     86.0      1       0
3839   52  133.5   83.0    269.0         0         0    107.0      0       1
3840   40  141.0   98.0    185.0         0         0     72.0      0       0
3841   39  133.0   86.0    196.0         1         0     80.0      1       0

[3842 rows x 9 columns]

<h2>Aggregate Statistics (Groupby)</h2>

Here we can group by a specific category and gather statistics.

In [252]:
means = df.groupby(['AGE']).mean()
means

,SYSBP,DIABP,TOTCHOL,CURSMOKE,DIABETES,GLUCOSE,DEATH,ANYCHD
AGE,,,,,,,,
32,111.000000,70.000000,242.000000,1.000000,0.000000,88.000000,1.000000,0.000000
33,124.100000,78.400000,177.400000,0.400000,0.000000,80.600000,1.000000,0.000000
34,111.133333,70.266667,195.200000,0.533333,0.000000,80.000000,1.000000,0.066667
35,116.685714,74.571429,208.342857,0.600000,0.000000,78.371429,1.000000,0.085714
36,120.443038,77.810127,207.936709,0.556962,0.012658,78.531646,1.000000,0.101266
37,119.194118,77.047059,215.576471,0.623529,0.000000,78.847059,1.000000,0.152941
38,120.076923,78.038462,214.276923,0.584615,0.000000,76.753846,1.000000,0.215385
39,122.786184,79.881579,221.309211,0.565789,0.013158,79.296053,1.000000,0.177632
40,122.885057,79.715517,216.764368,0.614943,0.000000,78.206897,0.166667,0.155172
41,124.643791,80.094771,224.143791,0.581699,0.006536,77.313725,0.130719,0.137255
42,122.601796,80.149701,226.502994,0.610778,0.000000,77.119760,0.149701,0.179641
43,125.217857,80.560714,227.100000,0.650000,0.014286,80.842857,0.164286,0.221429
44,128.233108,83.030405,231.202703,0.614865,0.027027,81.020270,0.263514,0.243243
45,127.131757,81.935811,234.641892,0.608108,0.013514,81.270270,0.243243,0.243243
46,128.878698,82.677515,239.224852,0.573964,0.011834,80.360947,0.183432,0.230769
47,131.065041,83.963415,237.414634,0.626016,0.056911,85.593496,0.317073,0.203252
48,129.753205,83.237179,234.346154,0.487179,0.019231,79.224359,0.237179,0.211538
49,131.211382,83.162602,244.000000,0.528455,0.008130,78.203252,0.268293,0.268293
50,133.696850,85.783465,241.377953,0.503937,0.031496,82.267717,0.330709,0.314961
51,132.950000,83.800000,248.269231,0.523077,0.000000,79.984615,0.300000,0.261538
52,134.757463,84.899254,244.932836,0.380597,0.074627,87.932836,0.343284,0.305970
53,137.541322,86.061983,244.710744,0.421488,0.033058,80.380165,0.338843,0.239669
54,137.095041,85.099174,246.661157,0.396694,0.033058,82.371901,0.371901,0.297521
55,137.587121,85.261364,252.098485,0.356061,0.037879,84.295455,0.401515,0.257576
56,136.934211,84.719298,253.359649,0.447368,0.026316,87.149123,0.473684,0.210526
57,138.872881,84.779661,246.720339,0.415254,0.033898,82.067797,0.483051,0.338983
58,141.290000,85.605000,242.640000,0.440000,0.060000,85.510000,0.530000,0.330000
59,142.778302,85.084906,254.594340,0.386792,0.028302,83.830189,0.537736,0.292453
60,144.401961,86.897059,255.813725,0.352941,0.039216,83.303922,0.558824,0.294118
61,144.555556,86.565657,244.535354,0.333333,0.040404,85.868687,0.606061,0.343434
62,145.919355,86.241935,257.344086,0.301075,0.096774,92.763441,0.666667,0.376344
63,148.267327,85.757426,243.267327,0.306931,0.059406,83.801980,0.633663,0.356436
64,144.653409,83.392045,249.102273,0.284091,0.034091,85.170455,0.738636,0.397727
65,146.510000,87.190000,250.360000,0.200000,0.100000,92.720000,0.740000,0.360000
66,156.194444,87.819444,248.138889,0.250000,0.083333,88.083333,0.833333,0.305556
67,149.646341,83.585366,250.560976,0.341463,0.024390,89.829268,0.926829,0.365854
68,137.638889,78.861111,233.500000,0.333333,0.111111,83.944444,0.944444,0.166667
69,146.500000,81.333333,228.666667,0.500000,0.000000,78.333333,0.833333,0.500000
70,139.500000,88.500000,169.000000,0.000000,0.000000,78.500000,1.000000,0.500000

Notice we have mean values for the different categories grouped by age

In [255]:
means.sort_values('SYSBP', ascending=0) # sort by sysbp

,SYSBP,DIABP,TOTCHOL,CURSMOKE,DIABETES,GLUCOSE,DEATH,ANYCHD
AGE,,,,,,,,
66,156.194444,87.819444,248.138889,0.250000,0.083333,88.083333,0.833333,0.305556
67,149.646341,83.585366,250.560976,0.341463,0.024390,89.829268,0.926829,0.365854
63,148.267327,85.757426,243.267327,0.306931,0.059406,83.801980,0.633663,0.356436
65,146.510000,87.190000,250.360000,0.200000,0.100000,92.720000,0.740000,0.360000
69,146.500000,81.333333,228.666667,0.500000,0.000000,78.333333,0.833333,0.500000
62,145.919355,86.241935,257.344086,0.301075,0.096774,92.763441,0.666667,0.376344
64,144.653409,83.392045,249.102273,0.284091,0.034091,85.170455,0.738636,0.397727
61,144.555556,86.565657,244.535354,0.333333,0.040404,85.868687,0.606061,0.343434
60,144.401961,86.897059,255.813725,0.352941,0.039216,83.303922,0.558824,0.294118
59,142.778302,85.084906,254.594340,0.386792,0.028302,83.830189,0.537736,0.292453
58,141.290000,85.605000,242.640000,0.440000,0.060000,85.510000,0.530000,0.330000
70,139.500000,88.500000,169.000000,0.000000,0.000000,78.500000,1.000000,0.500000
57,138.872881,84.779661,246.720339,0.415254,0.033898,82.067797,0.483051,0.338983
68,137.638889,78.861111,233.500000,0.333333,0.111111,83.944444,0.944444,0.166667
55,137.587121,85.261364,252.098485,0.356061,0.037879,84.295455,0.401515,0.257576
53,137.541322,86.061983,244.710744,0.421488,0.033058,80.380165,0.338843,0.239669
54,137.095041,85.099174,246.661157,0.396694,0.033058,82.371901,0.371901,0.297521
56,136.934211,84.719298,253.359649,0.447368,0.026316,87.149123,0.473684,0.210526
52,134.757463,84.899254,244.932836,0.380597,0.074627,87.932836,0.343284,0.305970
50,133.696850,85.783465,241.377953,0.503937,0.031496,82.267717,0.330709,0.314961
51,132.950000,83.800000,248.269231,0.523077,0.000000,79.984615,0.300000,0.261538
49,131.211382,83.162602,244.000000,0.528455,0.008130,78.203252,0.268293,0.268293
47,131.065041,83.963415,237.414634,0.626016,0.056911,85.593496,0.317073,0.203252
48,129.753205,83.237179,234.346154,0.487179,0.019231,79.224359,0.237179,0.211538
46,128.878698,82.677515,239.224852,0.573964,0.011834,80.360947,0.183432,0.230769
44,128.233108,83.030405,231.202703,0.614865,0.027027,81.020270,0.263514,0.243243
45,127.131757,81.935811,234.641892,0.608108,0.013514,81.270270,0.243243,0.243243
43,125.217857,80.560714,227.100000,0.650000,0.014286,80.842857,0.164286,0.221429
41,124.643791,80.094771,224.143791,0.581699,0.006536,77.313725,0.130719,0.137255
33,124.100000,78.400000,177.400000,0.400000,0.000000,80.600000,1.000000,0.000000
40,122.885057,79.715517,216.764368,0.614943,0.000000,78.206897,0.166667,0.155172
39,122.786184,79.881579,221.309211,0.565789,0.013158,79.296053,1.000000,0.177632
42,122.601796,80.149701,226.502994,0.610778,0.000000,77.119760,0.149701,0.179641
36,120.443038,77.810127,207.936709,0.556962,0.012658,78.531646,1.000000,0.101266
38,120.076923,78.038462,214.276923,0.584615,0.000000,76.753846,1.000000,0.215385
37,119.194118,77.047059,215.576471,0.623529,0.000000,78.847059,1.000000,0.152941
35,116.685714,74.571429,208.342857,0.600000,0.000000,78.371429,1.000000,0.085714
34,111.133333,70.266667,195.200000,0.533333,0.000000,80.000000,1.000000,0.066667
32,111.000000,70.000000,242.000000,1.000000,0.000000,88.000000,1.000000,0.000000

In [256]:
counts = df.groupby(['AGE']).count()
counts

     SYSBP  DIABP  TOTCHOL  CURSMOKE  DIABETES  GLUCOSE  DEATH  ANYCHD
AGE
32       1      1        1         1         1        1      1       1
33       5      5        5         5         5        5      5       5
34      15     15       15        15        15       15     15      15
35      35     35       35        35        35       35     35      35
36      79     79       79        79        79       79     79      79
37      85     85       85        85        85       85     85      85
38     130    130      130       130       130      130    130     130
39     152    152      152       152       152      152    152     152
40     174    174      174       174       174      174    174     174
41     153    153      153       153       153      153    153     153
42     167    167      167       167       167      167    167     167
43     140    140      140       140       140      140    140     140
44     148    148      148       148       148      148    148     148
45     148    148      148       148       148      148    148     148
46     169    169      169       169       169      169    169     169
47     123    123      123       123       123      123    123     123
48     156    156      156       156       156      156    156     156
49     123    123      123       123       123      123    123     123
50     127    127      127       127       127      127    127     127
51     130    130      130       130       130      130    130     130
52     134    134      134       134       134      134    134     134
53     121    121      121       121       121      121    121     121
54     121    121      121       121       121      121    121     121
55     132    132      132       132       132      132    132     132
56     114    114      114       114       114      114    114     114
57     118    118      118       118       118      118    118     118
58     100    100      100       100       100      100    100     100
59     106    106      106       106       106      106    106     106
60     102    102      102       102       102      102    102     102
61      99     99       99        99        99       99     99      99
62      93     93       93        93        93       93     93      93
63     101    101      101       101       101      101    101     101
64      88     88       88        88        88       88     88      88
65      50     50       50        50        50       50     50      50
66      36     36       36        36        36       36     36      36
67      41     41       41        41        41       41     41      41
68      18     18       18        18        18       18     18      18
69       6      6        6         6         6        6      6       6
70       2      2        2         2         2        2      2       2